.navbar {
    margin: 0 10%;
}

.carousel {
    margin: 10rem 0 5rem;
}

.categories {
    margin-bottom: 5rem;
}

.shoes {
    margin-bottom: 5rem;
}

.backpack {
    margin-bottom: 5rem;
}

.subscribe {
    margin-bottom: 5rem;
}